@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dourado-escuro: #4A4116;
    --dourado-meio: #AC9313;
    --dourado-claro:#DFD54A ;
    --preto:#16101B;

}
@font-face{
    font-family: 'dark-souls';
    src: url(imagens/OptimusPrincepsSemiBold.ttf);
}
body{
    background: url(imagens/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    height: 100vh;
    

}

main{
    margin-top: 30px;
}

h1{
    font-family: dark-souls;
    text-align: center;
    margin-top: 25px;

}

.menu{
    
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding-top: 25px;
    background-color: var(--preto);
    width: 80%;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    border-top: 5px solid var(--dourado-escuro);
    border-left: 5px solid var(--dourado-escuro);
    border-right: 5px solid var(--dourado-escuro);
    

}


h2{
    align-items: center;
    font-family: dark-souls;
    display: inline;
    padding-left: 10px;
    margin-left: 30px;
    color: var(--dourado-escuro);
    text-decoration: underline;
    
    
}


.container{
    
    display: flex;
    background-color: var(--preto);
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 10px;
    justify-content: space-around;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
    border-left: 5px solid var(--dourado-escuro);
    border-right: 5px solid var(--dourado-escuro);
    border-bottom: 5px solid var(--dourado-escuro);
    
}


label{
    color: white;
    padding: 25px 3px 25px 25px;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
}
input{
    margin: 15px;
    border: 2px solid var(--dourado-escuro);
    border-radius: 6px;
    font-family: dark-souls;
    padding: 3px;
    
    
}

select{
    border: 2px solid var(--dourado-escuro);
    border-radius: 6px;
    font-family: dark-souls;
    padding: 3px;
    
    
       
}

select option{
    background-color: #4A4116;
    color: #120d16;
    font-family: dark-souls;
    margin: 3px;
    padding: 3px;
}



#iclasse{
    margin-bottom: 15px;

}

img{
    width: 35vw;
    border-radius: 3px;
    padding-right: 10px;

}

#enviar{
    background-color: #120d16;
    color: var(--dourado-escuro);
    padding-right: 7px;
    text-align: center;
    
}
#enviar:hover{
    background-color: #74620d;
    color: var(--preto);
    transform: translate(-2px, -2px);
    transition: transform 0.3s;
}


@media screen and (max-width: 742px){
    input{
        width: 30%;
    }
    select{
        width: 17%;
    }
    
    
}

@media screen and (min-width: 743px){

    input{
        width: 20vw;
    }
    select{
        width: 20vw;
    }
    
}



 